.card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 10xp 10px gray;
    color: black;
}

.thumb {
    width: 100%;
}

.thumb img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.body {
    padding: 0.5rem;
}