:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul,
ol {
  text-decoration: none;
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #8e93f7;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



nav .active {
  color: #b8bbf1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: calc(100% / 12 * 6);
  padding: 15px;
}

.center {
  text-align: center;
}

.hero {
  width: 100%;
  padding: 15px;
}

.hero img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}